/* src/components/DraggableRoom.css */

.draggable-room {
  position: absolute;
  border: 2px solid #0f5132;
  border-radius: 8px;
  background-color: #d1e7dd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: grab;
  padding: 0;
  margin: 0;
  }
  
  .draggable-room:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .draggable-room h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #0f5132;
  }
  
  .draggable-room p {
    margin: 0;
    font-size: 1em;
    color: #134e4a;
  }
  